body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guestBox {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    min-height: 800px;

    justify-content: flex-start;
}

.message {
    width: 100%;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#saveBtn {
    background-color: #803744;  
    color: #ffffff;            
    border: 1px solid #803744; 
    border-radius: 0.5rem;      
}

.d-flex {
    position: relative;
    top: 5px;
}

.form-control-sm {
    border : none;
    box-shadow: 0 0 3px;
}