html {
    height: 100%;
    overflow-y: auto;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    padding-top: 3px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.guestBox {
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    min-height: 800px;
    background-color: #ffffff90;
    backdrop-filter: blur(3px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    justify-content: flex-start;
}

.message {
    width: 100%;
    border: 1px solid white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;

}

.message-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#saveBtn {
    background-color: #803744;
    color: #ffffff;
    border: 1px solid #803744;
    border-radius: 0.5rem;
}

.d-flex {
    position: relative;
    margin-right: 30px;
}

.guestInput {
    position: relative;
    top: 10px;
}

.form-control-sm {
    border: none;
    box-shadow: 0 0 3px;
}

.go_home {
    position: absolute;
    top: 7px;
    left: 10px;

    width: 100px;
    height: 100px;
}

.go_home span {
    color: var(--primary-color);
    transform: scale(2);
}

.guestBox h1 {
    text-align: center;
    width: 100%;
}