body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
}

header {
    position: absolute;
    top: 0;
    width: 100%;
}

section {
    position: relative;
    min-width: 500px;
    width: 1200px;
    height: calc(100vh - 150px);
    max-height: 780px;
    border-radius: 20px;

    background-color: #ffffff;
    /* backdrop-filter: blur(50px); */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    
    padding: 30px 40px;
}

section h2 {
    text-align: center;
    height: 70px;
}

.content {
    box-sizing: border-box;
    height: calc(100% - 70px);
    display: grid;
    grid-template-columns: 250px auto;
    gap: 40px;
}

.sideBar, .intro{
    width: 100%;
}


.go_home {
    position: absolute;
    top: 30px;
    left: 50px;

    width: 100px;
    height: 100px;
}

.go_home span {
    color: var(--primary-color);
    transform: scale(2);
}