

.sideBar {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.sideBar .teamDiv {
    flex-grow: 1;
    min-width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 4px #00000025;
    border-radius: 16px;

    transition: 0.5s;

    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;

    
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
}

.teamActive {
    flex-grow: 3 !important;
    background-color: var(--primary-color) !important;
}

.teamDiv_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;

    background-size: cover;
}