.team-title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #822e4b;
    padding: 20px 0;
}

.info-section {
    padding: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* max-width: 400px; */
    width: 100%;
    /* margin-left: 40px; */
    
}

.info-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-section h2 {
    font-size: 24px;
    height: 40px;
    font-weight: bold;
    
    color: #333;
    text-align: left;
    display: flex;
    align-items: center;
}




.info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 18px;
}

.label {
    font-weight: bold;
    color: #444;
}

.value {
    color: #822e4b;
    font-weight: 500;
}

.info_col {
    width: 100%;
    display: grid;
    grid-template-columns: 450px auto;
    gap: 40px;
}

.info_col  div {
    /* width: 100%; */
}

.textDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info_github {
    color: gray;
}


.meter {
    width: 100%;
    max-width: 300px;
    background: #eee;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }

  .label {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .fill {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    transition: width 1s;
    
    
  }

  .fill-animation {
    animation: fill 1s ease-out forwards;
  }


.reaction-buttons-inline button {
    font-size: 14px;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-btn {
    
    background-color: #ffb347;
    color: white;
}

.like-btn:hover {
    background-color: #ffa500;
}

.dislike-btn {
    background-color: #b0b0b0;
    color: white;
}

.dislike-btn:hover {
    background-color: #8e8e8e;
}




  @keyframes fill {
    from { width: 0; }
    to { width: var(--width); }
  }

  .passion { background: linear-gradient(to right, #ff5722, #ff8c00); --width: 100%; }
  .focus   { background: linear-gradient(to right, #2196f3, #00bcd4); --width: 85%; }
  .creativity { background: linear-gradient(to right, #9c27b0, #e91e63); --width: 70%; }
  .confidence { background: linear-gradient(to right, #4caf50, #8bc34a); --width: 90%; }